{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>{% block title %} {% endblock title %} | GetSetWork</title>
    <link rel="stylesheet" href="{% static 'style/base_style.css' %}">
</head>
<body>
    <div class="main-container">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">GET-SET-WORK</a>
            </div>

              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Post CV/Resume</a></li>
              </ul>

              <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
              
              <div class="navbar-header">
                {% if request.user.is_authenticated %}
                    <p style="color: white;">{{ request.user }}</p>
                {% else %}
                    <p style="color: white;">LogIn</p>
                {% endif %}
                </div>
            </div>
          </nav>

        {% block content %} 
        {% endblock content %}

    </div>

</body>
</html>
