{% extends 'core/base.html' %}

{% load static %}

{% block title %}HOME{% endblock title %}

{% block content %}

<br>
<br>

{% for job in jobs reversed %}

    <div class="post-container" style="margin: 5% 5% 0 5%;"> 
        <div class="post-file">
            <a href="{{job.resume.url}}" target="_blank"><button type="submit" class="btn btn-success" value="{{post.id}}" name="post-id">
                Resume
            </button></a>
                
            </form>

            {% if request.user == job.host %}
                <form method="post" action="{% url 'delete-post' job.host.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" value="{{host.id}}" name="post-id">
                        DELETE
                    </button>
                </form>
                
                <form method="post" action="#">
                    {% csrf_token %}
                    <a href="{% url 'update-post' job.host.id %}">
                        <button type="submit" class="btn btn-warning">
                            EDIT
                        </button>
                    </a>
                </form>
            {% endif %}

        </div>

        <div class="post-details">
            <p>@{{job.host}}</p>
            <p>{{job.post}} | Experience: {{job.experience | floatformat:1}}yr</p>
            <p>{{job.upload}}
        </div>
    </div>

{% endfor %}

<br>
<br>

{% endblock content %}
